**/node_modules
**/vendor
/app
/assets
/connectors
/core
/css
/favicon
/fonts
/images
/js
/lk
/manager
/price_data
/upload
/py/config.ini
/py/*.session
/py/*.json
package-lock.json
composer.lock
config.core.php
/index.php
.gitignore
.ini
.old
.session
.txt
/.htaccess
.vscode